{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Carpool</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Bienvenido a <span>Carpool</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="/">Inicio</a></li>
							<!-- aqui empieza el menú de la barra -->
							<li class="submenu"> <a href="#">Menú</a>
								{% if not user.is_authenticated %}
									<ul>
										<li><a href="{% url 'chofer_signup' %}">Registro conductor</a></li>
										<li><a href="{% url 'pasajero_signup' %}">Registro pasajero</a></li>
										<li><a href="">Contact</a></li>
									</ul>
								{% else %}
									{% if user.es_chofer %}
										<ul>
											<li><a href="">Mi perfil</a></li>
											<li><a href="{% url 'CrearViaje' %}">Crear viaje</a></li>
											<li><a href="{% url 'listarviajes' %}">Ver mis viajes</a></li>
											<li><a href="{% url 'iniciar_viaje' %}">Administrar viajes</a></li>
										</ul>
									{% elif user.es_pasajero %}
										<ul>
											<li><a href="">Mi perfil</a></li>
											<li><a href="{% url 'Buscar' %}">Buscar viaje</a></li>
											<li><a href="{% url 'mis_reservas' %}">Ver mis reservas</a></li>
										</ul>
									{% endif %}
								{% endif %}
							</li>
                        {% if not user.is_authenticated %}
							<li><a href="{% url 'login' %}" class="button primary">Login</a></li>
                        {% else %}
                            <li><a href="{% url 'logout' %}" class="button primary">Logout</a></li>
                        {% endif %}
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<!--
						<span class="icon fa-mobile"></span>
						-->
						<h2><strong>
							{% block title %}
								Carpool
							{% endblock %}
						</strong></h2>

					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
										<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>

										{% block content %}

										{% endblock %}

									</section>
								</div>

						</section>

					<!-- Two -->


				</article>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>


				</footer>

		</div>

		<!-- Scripts -->

			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollgress.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>