{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Carpool</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="index is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">Bienvenido a Carpool
						{% if user.is_authenticated %} <span> {{user.username}} </span> {% endif %}
					</a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="{% url 'home' %}">Inicio</a></li>
							<li class="submenu">
								<a href="#">Menú</a>
								{% if not user.is_authenticated %}
									<ul>
										<li><a href="{% url 'chofer_signup' %}">Registro conductor</a></li>
										<li><a href="{% url 'pasajero_signup' %}">Registro pasajero</a></li>
										<li><a href="">Contact</a></li>
									</ul>

                                    <li><a href="{% url 'login' %}" class="button primary">Login</a></li>
								{% else %}
									{% if user.es_chofer %}
										<ul>
											<li><a href="/perfil/{{user.id}}">Mi perfil</a></li>
											<li><a href="{% url 'CrearViaje' %}">Crear viaje</a></li>
											<li><a href="{% url 'listarviajes' %}">Ver mis viajes</a></li>
											<li><a href="{% url 'iniciar_viaje' %}">Administrar viajes</a></li>
										</ul>
									{% elif user.es_pasajero %}
										<ul>
											<li><a href="/perfil/{{user.id}}">Mi perfil</a></li>
											<li><a href="{% url 'Buscar' %}">Buscar viaje</a></li>
											<li><a href="{% url 'mis_reservas' %}">Ver mis reservas</a></li>
										</ul>
									{% endif %}

                                <li><a href="{% url 'logout' %}" class="button primary">Logout</a></li>
								{% endif %}
							</li>

						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>CARPOOL</h2>
						</header>
						{% if user.is_authenticated %}
							<p>Bienvenido <strong> {{user.username}} </strong>
							<br />
								{{ mensaje }}
							<footer>
								<ul class="buttons stacked">
									<li><a href="" class="button fit scrolly"></a></li>
								</ul>
							</footer>
							</p>

						{% else %}
							<p>Bienvenido!
							<br />
							¿No tienes una cuenta?
							<footer>
								<ul class="buttons stacked">
									<li><a href="#main" class="button fit scrolly">Registrarme!</a></li>
									<li> ¿Ya tienes una cuenta? </li>
									<li> <a href="{% url 'login' %}" class="button fit"> Entrar con mi cuenta </a> </li>
								</ul>

							</footer>
						{% endif %}

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					{% if not user.is_authenticated %}
					<header class="special container">
						<!-- <span class="icon fa-bar-chart-o"></span> -->
						<h2> Registro de <strong>Carpool</strong></h2>

							<p> Puedes registrarte como un conductor o un pasajero de Carpool

								<!-- ¿Quieres un chofer en Caropool? --></p> <br/>
								<ul class="buttons">
									<li> <a href="{% url 'chofer_signup' %}" class="button" > Registro de conductor </a> </li>
									<li> <a href="{% url 'pasajero_signup' %}" class="button" > Registro de pasajero </a> </li>
								</ul>


					</header>
					{% endif %}

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

									<header>
										<h2>Behold the <strong>icons</strong> that visualize what you’re all about. or just take up space. your call bro.</h2>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<div class="col-4 col-12-narrower imp-narrower">

									<ul class="featured-icons">
										<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>This is Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Also Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Probably Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Next look at this <strong>cool stuff</strong></h2>
							</header>

							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>A Really Fast Train</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
										<header>
											<h3>An Airport Terminal</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
										<header>
											<h3>Hyperspace Travel</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
										<header>
											<h3>And Another Train</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Ready to do <strong>something</strong>?</h2>
						<p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="#" class="button primary">Take My Money</a></li>
							<li><a href="#" class="button">LOL Wut</a></li>
						</ul>
					</footer>

				</section>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</footer>

		</div>
		<script language="JavaScript" type="text/javascript">
			var cont = 1;

			function elemento_file(x){
			var divele=document.getElementById("elementos");

			if(x==1){

			if(divele.lastChild){
			divele.removeChild(divele.lastChild);
			divele.removeChild(divele.lastChild);
			divele.removeChild(divele.lastChild);
			divele.removeChild(divele.lastChild);
			divele.removeChild(divele.lastChild);
			divele.removeChild(divele.lastChild);


				}
			}

			else {

			salto=document.createElement("br");
			puesto=document.createTextNode("Parada ");
			ele=document.createElement("input");
			ele.id = ele.id.concat(cont.toString());
			cont= cont+1;
			separacion=document.createElement("hr");
			ele.type="text";
			ele.name=cont.toString();
			divele.appendChild(puesto);
			divele.appendChild(ele);
			divele.appendChild(salto);
			divele.appendChild(separacion);
			console.log("aaaaa");
				}
			}
		</script>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollgress.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
